{{#if auth}}


<h2>A potencia do carro é de {{user.potencia}} <br> Nome do carro é {{user.nomecar}} <br> Cor  {{user.cor}} <br> Ano de fabricação {{user.ano}}</h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
{{/if}}