
<div class="container-fluid col-4">
    <form action="/users/save" method="post">
    <div class="form-group">
        <lambel for="nameProduto">Nome do Produto:</lambel>
        <input type="text" class="form-control" name="nameProduto" id="nomeProduto" placeholder="Digite o nome do produto...">
</div>
<div class="form-group">
        <lambel for="nameFornecedor">Nome do Fornecedor:</lambel>
        <input type="text" class="form-control" name="nameFornecedor" id="nomeFornecedor" placeholder="Digite o nome do fornecedor...">
</div>
<div class="form-group">
        <lambel for="dataCompra">Data da Compra:</lambel>
        <input type="text" class="form-control" name="dataCompra" id="dataCompra" placeholder="Digite a data da Compra...">
</div>
<div class="form-group">
        <lambel for="valorCompra">Valor da Compra:</lambel>
        <input type="text" class="form-control" name="valorCompra" id="valorCompra" placeholder="Valor da Compra...">
</div>
<div class="form-group">
        <lambel for="valorVenda">Valor da Venda:</lambel>
        <input type="text" class="form-control" name="valorVenda" id="valorVenda" placeholder="Valor da Venda...">
</div>
<div class="form-group">
        <lambel for="categoria">Categoria:</lambel>
        <input type="text" class="form-control" name="categoria" id="categoria" placeholder="Categoria...">
</div>
<br>
<button type="submit" class="btn btn-primary">Enviar</button>

</form>
</div>